<div data-role="page" ng-controller="myCollectCtrl">
	<div data-role="header" data-position="fixed">
		<a href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext"></a>
		<h1>我的收藏</h1>
		<a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-edit ui-btn-icon-notext" ng-click="editCollect()"></a>
	</div>

	<div data-role="content">

		<div class="listview">

			<ul data-role="listview">
				<!--<li class="ui-shadow ui-li-static ui-body-inherit ui-first-child ui-last-child ng-scope" style="position: relative;">
					<div class="deleteCollectBtn">&otimes;</div>
					<div ng-click="toDetail()">
						<div style="display: none">' + type + '</div>
						<div style="display: none">' + response[0].qid + '</div>
						<div><span class="ListquestionType">' + response[0].type + '</span>
							<h3 class="ng-binding">' + response[0].question + '</h3>
						</div>
					</div>

				</li>-->
			</ul>

		</div>

	</div>

</div>